.login{
	box-sizing: border-box;
    background:#48c77d;
    position: static;
	padding: 15px;
    font-family: "Avenir", Verdana, Geneva, sans-serif;
    font-size: 15pt;
	
	border-style: solid;
	border-width: 6px;
	border-color: #C0D4E3;
	border-radius: 20px;
}

#username, #password{
	font-size: larger;
	padding: 5px;
}



